forLoop
factorial
reverseDigit
checkPrime
pattern1
pattern2
pattern3
pattern4
pattern5
gcd
countDigit
nestedTable
armstorng
primeRange
fibonacci
linearSearch
binarySearch
first_LastOccurence
Sqrt
69_Sqrt
smallestMissingNumber
kth_missing
cntTotalOccurence
peakIndex
852_peakIndex
1539_kth_missing
powOfX_n
50_powXN
basic
distinctWaysToClimbStairs
fibb
sayDigits
checkSorted
sumArray
maxEle
reverseArr
digitSum